#registrationForm {
      max-width: 400px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      margin: 20px auto;
    }

    #registrationForm h2 {
      margin-top: 0;
      margin-bottom: 20px;
      color: #333;
    }

    #registrationForm label {
      display: block;
      margin-bottom: 8px;
      color: #333;
    }

    /* Увеличим длину полей для ввода и разместим каждое на новой строке */
    #registrationForm input[type="text"],
    #registrationForm input[type="email"],
    #registrationForm input[type="password"] {
      width: 100%;
      padding: 12px;
      margin-bottom: 15px;
      border: 1px solid #ddd;
      border-radius: 5px;
      display: block; /* Размещаем каждый элемент на новой строке */
      box-sizing: border-box; /* Учтем padding и border внутри ширины элемента */
    }

    #registrationForm button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #333;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #registrationForm button:hover {
      background-color: #555;
    }